.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* Espaço entre o ícone e o texto */
  
  width: 80%;
  max-width: 600px;
  margin: 2rem auto; /* Centraliza e adiciona espaço vertical */
  padding: 1rem;
  
  background-color: #441c1c; /* Fundo vermelho escuro */
  color: #f8d7da; /* Texto rosa claro */
  border: 1px solid #c93434; /* Borda vermelha */
  border-radius: 8px;
  
  font-size: 1rem;
  font-weight: 500;
}

.error-icon {
  flex-shrink: 0; /* Impede que o ícone seja espremido */
}