.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; 
  
  width: 80%;
  max-width: 600px;
  margin: 2rem auto; 
  padding: 1rem;
  
  background-color: #441c1c; 
  color: #f8d7da; 
  border: 1px solid #c93434; 
  border-radius: 8px;
  
  font-size: 1rem;
  font-weight: 500;
}

.error-icon {
  flex-shrink: 0; 
}